<div class="w-full h-[100vh] flex">
  <div class="w-[50%] relative h-full hidden md:overflow-visible md:flex">
    <img class="w-full object-cover" src="/assets/imgs/img-1.png" />
    <div class="w-full h-full bg-[#000ad1] absolute opacity-55"></div>
    <div class="absolute bottom-[126px] left-[100px]">
      <h2 class="inline-block text-[4.2vw] 2xl:text-[80] text-white font-extrabold">EDU.ARGOS.UZ</h2>
      <p class="inline-block text-[1.2vw] text-white font-medium max-w-[680px]">{{'title-text' | transloco}}</p>
    </div>

  </div>



  <div class="text-[white] w-full text-[16px] flex flex-col items-center justify-center relative md:w-[50%]">
    <div class="flex gap-[20px] absolute top-[35.5px] right-[20px]">
      <select [(ngModel)]="currentLang" (change)="setLang(currentLang)"
        class="border-[0.5px] border-[#E2E8F0] bg-[#F8FAFC] rounded-[14px] py-[12px] px-[14px] outline-none text-[16px] font-semibold text-[#1E3A8A]">
        <option value="en">Eng</option>
        <option value="ru">Ru</option>
        <option value="uz">Uz</option>
      </select>

      <button
        class="border-[0.5px] border-[#E2E8F0] bg-[#F8FAFC] rounded-[14px] py-[12px] px-[14px] outline-none flex gap-[10px] items-center cursor-pointer"
        (click)="setTheme()">
        <img src="/assets/icons/light-icon.svg" alt="" class="w-[18px] h-[18px]">
        <img src="/assets/icons/moon-icon.svg" alt="" class="w-[18px] h-[18px]">
      </button>
    </div>

    <div class="flex flex-col items-center w-full px-[50px] xl:px-[0px] mx-[0px] max-w-[560px]">
      <div class="w-full flex items-center justify-between py-5 gap-[30px]">
        <div class="w-full flex items-center justify-center">
          <img src="/assets/icons/logo-1.png" class="object-contain h-24" alt="">
        </div>
        <div class="w-full flex items-center justify-center">
          <img src="/assets/icons/logo-2.svg" class="object-contain h-24" alt="">
        </div>
      </div>

      <div
        class="flex max-w-[510px] w-full bg-[#F8FAFC] border-[0.5px] border-[#F1F5F9] rounded-[20px]"
        [class.dark-mode-block]="!isLightMode">
        <div class="w-full flex flex-col gap-[30px] p-[40px]">
          <div class="flex flex-col gap-[30px] items-center">
            <p class="text-[18px] lg:text-[20px]  font-semibold  text-center max-w-[430px]" [class.text-[#0F172A]]="isLightMode">
              {{'signIn.text' | transloco}}</p>

            <div class="oneid_img_wrapper flex items-center justify-center text-center">
              <img src="./assets/icons/oneId.png" class="max-w-48" />
            </div>

            <button class="flex justify-center gap-[10px] items-center w-full bg-[#1e3b8b] rounded-[10px] font-semibold text-white text-[16px] py-[12.5px]">
              {{'signIn.button' | transloco}}
              <img src="/assets/icons/arrows-right.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
